body {
  padding-bottom: 48px;
}

.container h2 {
  margin-top: 0 !important;en
  margin-bottom: 14px;
}

#mojang-status .alert {
  min-height: 64px;
  text-align: center;
  padding-top: 18px;
}

table span.glyphicon-arrow-up {
  color: #2ecc40;
}

table span.glyphicon-arrow-down {
  color: #ff4136;
}
