%header.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => '#'}
        Minecraft Server Tracking
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => 'http://ttaylorr.com'}
            Made by ttaylorr
