%section
  .row
    - ['minecraft.net', 'Login Server', 'Session Server', 'Skin Server'].each do |service|
      .col-md-3
        .alert.alert-success{:data => {:service_name => service}}
          = service + ' is <b>online</b>'
